.tarjeta {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 30px;
}

.dog {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
  margin: 16px;
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5); 
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
}

/*Esto hace el efecto de colores*/
.container::before,
.container::after {
  content: '';
  border-radius: 15px;
  position: absolute;
  inset: 0;
  transition: 0.5s;
}

.container:nth-child(1)::before,
.container:nth-child(1)::after {
  background: linear-gradient(45deg, #00ccff, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), #d400d4);
}

.container:hover::before {
  inset: -3px;
}

.container:hover::after {
  inset: -9px;
  filter: blur(10px);
}
/*Aquí termina*/

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  z-index: 1;
}

.form h2 {
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.form h2::before {
  content: '';
  position: absolute;
  left: 115px;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff9;
}

.form .inputBox {
  width: 100%;
  margin-top: 16px;
  text-align: center;
}

.form .inputBox input {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, .5);
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff9;
}

.form .inputBox input::placeholder {
  color: #fffc;
}

.form .inputBox input[type="submit"] {
  background: white;
  color: #666;
  max-width: 100px;
  margin-bottom: 20px;
  font-weight: 600;
  cursor: pointer;
}
