<div class="container">
  <div class="dog" *ngFor="let dog of dogs">
    <span>{{ dog.name }}</span>
    <span>{{ dog.age }}</span>
  </div>
</div>

<section class="form">
  <div class="title">
    <h2>Nuevo perrimto</h2>
  </div>
  <div class="contactForm">
    <div class="row">
      <input type="text" placeholder="Nombre del doggo" />
    </div>
    <div class="row">
      <input type="number" placeholder="Edad del doggo" />
    </div>
    <div class="row2">
      <input type="submit" value="Subir" class="btn" />
    </div>
  </div>
</section>

<router-outlet></router-outlet>
